<div class="ui-grid-cell-contents" ng-controller="viewController as vm">
    <a href="#" style="padding: 4px" class="blue" data-toggle="tooltip" data-placement="top" title="View" ng-click="barCode(row) ">
        <i class="fa fa-barcode"></i>
    </a>
    <a href="#" style="padding: 4px" class="blue" data-toggle="tooltip" data-placement="top" title="View" ng-click="viewRow(row) ">
        <i class="fa fa-eye"></i>
    </a>
    <a href="#" style="padding: 4px" class="blue" data-toggle="tooltip" data-placement="top" title="Edit" ng-click="editRow(row) ">
        <i class="fa fa-pencil" style="color:#2db9ee"></i>
    </a>
</div>